<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="icon" href="date.png">
</head>
<body style="color: white;" bgcolor="black">
    <center>
        <h1>Upcoming Events 📅</h1> 
        <p>Don't miss any of your important events. Stay updated</p>
    </center>
    <hr>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, esse ipsam mollitia ullam soluta vitae ratione suscipit. Quaerat, quos ratione quae laboriosam harum consequuntur corporis illum magni deleniti alias soluta dolorum incidunt, deserunt expedita iste mollitia eligendi porro? Rem debitis pariatur rerum sapiente quasi quae, eos, at libero quia molestiae, impedit repudiandae asperiores quidem nam maxime adipisci cupiditate incidunt reprehenderit esse. Alias omnis numquam asperiores iste saepe, perferendis tempore debitis ad cupiditate quas voluptatem in, officiis consequuntur deleniti quos eius natus facere nostrum error necessitatibus rerum explicabo quod dicta? Totam ut fugiat suscipit voluptas eaque quisquam repellendus debitis. Iusto, eos?
    </p>
    <center>
        <img src="event1.png" alt="Event">
        <h1>Photo Gallery</h1>
        <h2>Free Entry | Free Food | Pets are not allowed</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quasi corrupti officiis ratione blanditiis itaque corporis eaque eum nemo facere. Recusandae laborum veniam commodi ad ut, sunt inventore odio repellat tempora, at, dolor provident voluptas aliquam ea cum tempore omnis animi architecto. Harum esse quisquam autem sit alias laborum vel.</p>
    </center>

    <center>
        <img src="event2.png" alt="event2">
        <h1>
            <a href="https://www.myntra.com/">Fashion Store</a>
        </h1>
        <h2>Free Entry | Free Food | Pets are not allowed</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit itaque magnam qui esse delectus nihil nemo, excepturi placeat minus quo suscipit minima officiis sed fuga maxime, ipsa quidem provident. Tempore, atque dignissimos magnam maiores iure possimus nisi, nobis tenetur illum cupiditate impedit molestiae accusantium perspiciatis cumque quisquam. Odio, nostrum vel.</p>
        <hr>
    </center>

<center>
    <h1>Contact</h1>
    <h2>+918122491479 | selvagopi2@gmail.com</h2>
    <p>adress</p>
    </center>
    
</body>
</html>
