.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217,15);
  color: #222;
  border: 1px solid #FFF;
  font-weight: 600;
  cursor: pointer;
}

.btn-light {
  background: transparent;
  color: #FFF;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF;
  transition: 0.3s;
}